@use "../abstracts" as a;

.hero {
  position: relative;

  h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .bright {
    color: a.$primary-color-300;
  }
}

.sub-hero {
  position: relative;
  @include a.screen-width-md;
  @include a.flex(column, center, center);
  margin: 0 auto;

  .margin-5 {
    margin: 5rem 0;
  }
}
