.hero {
  position: relative;

  h1 {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
  }
  img {
    height: 100vh;
    object-fit: cover;
    width: 100%;
    object-position: 0 10%;
  }
}
