@use "../abstracts" as a;

.hero {
  position: relative;

  h1 {
    position: absolute;
    font-size: 3.8rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .bright {
    color: a.$primary-color-300;
  }
}

@include a.media-md {
  .hero {
    h1 {
      font-size: 6.8rem;
    }
  }
}
