@use "../abstracts" as a;

.category-item {
  width: min(80%, 1200px);
  margin: 7rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  &__content {
    @include a.flex(column, flex-start, center);
    margin-left: 2rem;
  }
}
