@use "../abstracts" as a;

.category-item {
  @include a.screen-width-lg;
  margin: 7rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 5rem;

  &__content {
    @include a.flex(column, flex-start, center);

    p {
      margin: 2rem 0;
    }
  }
}

.sub-grid {
  @include a.screen-width-lg;
  margin: 7rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 5rem;

  .col {
    display: flex;
    justify-content: center;
    flex-direction: column;

    &__img {
      align-items: center;
    }

    &__text {
      align-items: flex-start;
    }
  }

  &__content {
    @include a.flex(column, flex-start, center);

    p {
      margin: 2rem 0;
    }
  }
}

.card-title {
  font-size: 2rem;
}

@include a.media-sm {
  .category-item {
    grid-auto-flow: dense;

    &:nth-child(2n + 1) > div:first-child {
      grid-column: 2;
    }
  }
  .card-title {
    font-size: 2.6rem;
  }
}

@include a.media-lg {
  .menu-img {
    height: 350px;
  }
}
