@use "../abstracts" as a;

.grid {
  @include a.screen-width-lg;
  @include a.grid-card;

  &__content {
    @include a.flex(column, flex-start, center);

    p {
      margin: 2rem 0;
    }
  }
}

.sub-grid {
  @include a.screen-width-lg;
  @include a.grid-card;

  &__img {
    @include a.flex(column, center, center);
  }

  &__content {
    @include a.flex(column, flex-start, center);

    p {
      margin: 2rem 0;
    }
  }
}

@include a.media-xs {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .sub-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

@include a.media-sm {
  .grid {
    grid-auto-flow: dense;

    &:nth-child(2n + 1) > div:first-child {
      grid-column: 2;
    }
  }
}
