@use "../abstracts" as a;

.nav {
  position: fixed;
  overflow-x: hidden;
  width: 100%;
  height: 8vh;
  z-index: 10;

  &__wrapper {
    position: relative;
    height: 100%;
    width: 80%;
    margin: auto;

    &--inner {
      height: 100%;
      @include a.flex(row, center, space-between);
    }

    &--outer {
      position: absolute;
      top: 50%;
      left: 50%;
      @include a.flex(row, center, center);
    }

    .burger {
      height: auto;
      cursor: pointer;
      display: none;

      &__line {
        height: 0.2rem;
        width: 3.5rem;
        margin: 0.5rem 0;
        background: a.$tertiary-color-300;
        border-radius: 4px;
      }
    }

    .link {
      font-size: 1.8rem;
      padding: 0 1rem;
      text-transform: capitalize;
    }
  }
}
