@use "../abstracts" as a;

.nav {
  position: fixed;
  overflow-x: hidden;
  width: 100%;
  height: 10vh;
  z-index: 10;

  &__wrapper {
    position: relative;
    height: 100%;
    width: 80%;
    margin: auto;

    &--inner {
      height: 10vh;
      @include a.flex(row, center, space-between);
    }

    &--outer {
      position: absolute;
      left: 50%;
      @include a.flex(row, center, center);
    }

    a {
      padding: 0 1rem;
    }
  }
}

.logo {
  font-family: a.$heading;
  font-size: 1.6rem;
  position: absolute;
  top: 100;
}

.light {
  background: a.$grey-100;
}

.links {
  width: 100%;

  div {
    display: none;
  }
}

.mobile {
  height: 100vh;
}

.center {
  top: 50%;
}

.top {
  top: 5%;
}

.links-mobile {
  height: 80vh;
  position: absolute;
  top: 10%;

  div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    @include a.flex(column, center, space-around);
  }
}

@include a.media-md {
  .logo {
    font-size: 2.6rem;
  }
}

@include a.media-lg {
  .light {
    background: none;
  }
  .scroll-bg {
    background: a.$grey-100;
  }
  .btn {
    position: absolute;
    right: 0;
  }
  .links div {
    display: flex;
    align-items: center;
  }
}
