@mixin flex($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin grid-card {
  display: grid;
  margin: 7rem auto;
  grid-gap: 5rem;
}

@mixin transition-ease {
  transition: all 0.3s ease-in-out;
}

@mixin screen-width-lg {
  width: min(80%, 1200px);
}

@mixin screen-width-md {
  width: min(80%, 960px);
}

@mixin media-sm {
  @media screen and (min-width: 688px) {
    @content;
  }
}

@mixin media-md {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin media-lg {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

@mixin media-xl {
  @media screen and (min-width: 1600px) {
    @content;
  }
}
