// colors
$primary-color-300: #9dbe55;
$primary-color-500: #85a63f;
$primary-color-700: #6b8533;
$secondary-color-300: #fbc72d;
$seconday-color-500: #f2b705;
$secondary-color-700: #c39304;
$tertiary-color-300: #c41837;
$tertiary-color-500: #a6142f;
$tertiary-color-700: #841025;
$accent-light-color-300: #f2a705;
$accent-light-color-500: #f28705;
$accent-light-color-700: #c86f04;
$accent-dark-color-300: #f47d53;
$accent-dark-color-500: #f26938;
$accent-dark-color-700: #e1460f;

$grey-100: #f4f7ed;
$grey-200: #dde0d6;
$grey-300: #b8b9b6;
$grey-500: #969792;
$grey-700: #4c4d4a;
$grey-900: #1f260f;
