@use "../abstracts" as a;

.btn {
  border: 2px solid a.$accent-dark-color-500;
  padding: 1.3rem !important;
  border-radius: a.$borderRadius-4;
  @include a.transition-ease;

  &:hover {
    background-color: a.$accent-dark-color-500;
    color: a.$grey-100;
  }
}

.btn-dropdown {
  width: min(100%, 400px);
  font-weight: 400;
  padding: 2rem 0;
  background: a.$primary-color-300;
  @include a.flex(row, center, center);

  .icon {
    padding: 0 2rem;
    color: a.$grey-900;
  }
}

.selected {
  background: a.$primary-color-700;
}

@include a.media-md {
  .btn-dropdown {
    display: none;
  }
}
