@use "../abstracts" as a;

.btn {
  border: 1px solid a.$accent-dark-color-700;
  padding: 1.3rem !important;
  border-radius: a.$borderRadius-4;
  @include a.transition-ease;

  &:hover {
    background-color: a.$accent-dark-color-700;
    color: a.$grey-100;
  }
}
