@use "../abstracts" as a;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: a.$grey-100;
  color: a.$grey-900;
  height: 100%;
  line-height: 1;
  width: 100vw;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

html {
  font-size: 62.5%;
  font-family: a.$text;
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

a,
button {
  cursor: revert;
}

button {
  background: none;
  border: 0;
  outline: 0;
}

ol,
ul,
menu {
  list-style: none;
}

img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

input,
textarea {
  user-select: auto;
}

textarea {
  white-space: revert;
}

meter {
  -webkit-appearance: revert;
  appearance: revert;
}

::placeholder {
  color: unset;
}

// :where([hidden]) {
//   display: none;
// }

// :where([contenteditable]:not([contenteditable="false"])) {
//   -moz-user-modify: read-write;
//   -webkit-user-modify: read-write;
//   overflow-wrap: break-word;
// }

// :where([draggable="true"]) {
//   -webkit-user-drag: element;
// }
