@use "../abstracts" as a;

h1,
h2,
h3 {
  font-family: a.$heading;
}

h1 {
  text-transform: capitalize;
  letter-spacing: 1.1rem;
  line-height: 1.8;
}

p {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
  line-height: 1.1;
}

a,
button {
  text-decoration: none;
  color: inherit;
  font-family: a.$special;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-size: 1.4rem;
  @include a.transition-ease;
  cursor: pointer;
}

.link {
  &:hover {
    color: lighten(a.$grey-900, 20%);
  }
}

.logo {
  font-family: a.$heading;
  font-size: 2.3rem;
  position: absolute;
  top: 100;
  text-transform: capitalize;
}

.title {
  font-size: 2rem;
  white-space: normal;
  word-break: break-word;
}

.heading-title {
  font-size: 3.8rem;
}

.text {
  font-size: 1.6rem;
}

@include a.media-lg {
  .title {
    font-size: 2.8rem;
  }

  .heading-title {
    font-size: 8.8rem;
  }

  .text {
    font-size: 1.8rem;
  }
}

@include a.media-md {
  .logo {
    font-size: 3.6rem;
  }
}
