@use "../abstracts" as a;

h1,
h2,
h3 {
  font-family: a.$heading;
}

h1 {
  text-transform: capitalize;
  letter-spacing: 1.1rem;
  line-height: 1.8;
}

p {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
  line-height: 1.1;
}

a,
button {
  text-decoration: none;
  color: inherit;
  font-family: a.$special;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-size: 1.6rem;
  transition: color 0.3s ease-in-out;
}
